<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
	<listeners>
		<listener class-name = "resources.ScreenshotListener"/>
		<listener class-name = "resources.ExtentReporterNG"/>
	</listeners>
  <test thread-count="5" name="Test">
    <classes>
      <class name="testCases.generalStore.TC1_FormValidation"/>
      <class name="testCases.generalStore.TC2_AddingProducts"/>
      <class name="testCases.generalStore.TC4_VerifyTotalAmount"/>
      <class name="testCases.generalStore.TC5_TermsAndProceedValidation"/>
<!--     
      <class name="testCases.generalStore.TC3_VerifyShoppingCart"/>
      <class name="testCases.generalStore.TC6_SwitchWebViewNativeApp"/>
-->
      <class name="testCases.apiDemoTest.ApiDemoTest"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
